
$primary-color: #011140;
$lightgrey: #d4d4d4;
$black: #111;
$white: #fff;
$orange: #F2913D;

@mixin reset-list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin bg-black {
  background-color: $black;
  color: $orange;
}

@mixin bg-orange {
  background-color: $orange;
  color: $primary-color;
}

